.widget-type label {
  text-align: center;
  padding: 4px;
  margin: 4px 15px 4px 4px;
}

.widget-type label span {
  font-size: .75rem;
}

/* HIDE RADIO */

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]+img {
  cursor: pointer;
  width: 80px;
  padding: 5px;
  display: block;
}

[type=radio]:checked+img {
  border-color: #3366ff;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}