<!-- <nb-card style="width: 90vw; height: 95vh"> -->
<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
  <nb-card-header>
    <div class="d-flex">
      <div class="mr-auto">
        <app-daterange-picker [selectedDaterange]="selectedDaterange"
          (selectedDaterangeChange)="handleSelectedDaterangeChange($event)">
        </app-daterange-picker>
      </div>

      <button nbButton size="small" status="success" (click)="saveWidget()" [disabled]="savingWidget"
        nbSpinnerStatus="success">
        Save Widget
        <nb-icon icon="checkmark-outline"> </nb-icon>
      </button>

    </div>
  </nb-card-header>

  <nb-card-body>

    <ng-container *ngIf="!loading && widget">

      <app-line-chart-builder *ngIf="widget.type == 'LineChart'" [applicationId]="applicationId"
        [(lineChartWidget)]="widgetData" [selectedDaterange]="selectedDaterange">
      </app-line-chart-builder>

      <app-simple-number-builder *ngIf="widget.type == 'SimpleNumber'" [applicationId]="applicationId"
        [(widgetData)]="widgetData" [selectedDaterange]="selectedDaterange">
      </app-simple-number-builder>

    </ng-container>

  </nb-card-body>
</nb-card>