<nb-card style="width: 90vw; height: 95vh">
  <nb-card-header>
    <div class="d-flex">
      <div class="mr-auto">
        <app-daterange-picker [selectedDaterange]="selectedDaterange"
          (selectedDaterangeChange)="handleSelectedDaterangeChange($event)">
        </app-daterange-picker>
      </div>

      <button nbButton size="small" status="success" (click)="saveWidget()" [disabled]="savingWidget"
         nbSpinnerStatus="success">
        Save Widget
        <nb-icon icon="checkmark-outline"> </nb-icon>
      </button>

    </div>
  </nb-card-header>

  <nb-card-body>
    <app-line-chart-builder *ngIf="!loading" [applicationId]="applicationId" [(lineChartWidget)]="widgetData"
      [selectedDaterange]="selectedDaterange">
    </app-line-chart-builder>
  </nb-card-body>
</nb-card>