
<div>
  <form [formGroup]="widgetSettingsForm" (ngSubmit)="onSubmit()" [style.fontSize.px]="14">
    <div class="row">

      <div class="col-sm-6">
        <nb-card>
          <nb-card-header>Generat settings</nb-card-header>
          <nb-card-body>

            <div class="form-group">
              <label for="widgetName" class="label">Widget name</label>
              <input type="text" class="input-full-width" nbInput formControlName="widgetName" placeholder="Widget name">
            </div>
            <div>
              <nb-toggle formControlName="displayTitle">Show Widget Name as Title</nb-toggle>
            </div>
            <div>
              <nb-toggle formControlName="displayLegend">Show Legend</nb-toggle>
            </div>
            <div>
              <nb-toggle formControlName="smoothLines">Smooth Graph Lines</nb-toggle>
            </div>
            <div>
              <nb-toggle formControlName="stacked">Stacked</nb-toggle>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-sm-6">
        <nb-card>
          <nb-card-header>X Axis settings</nb-card-header>
          <nb-card-body>
            <div formGroupName="xAxis">
              <div class="form-group">
                <label for="label" class="label">Label</label>
                <input type="text" class="input-full-width" nbInput formControlName="label" placeholder="Enter a X Axis label">
              </div>

              <div>
                <nb-toggle formControlName="displayLabel">Show Label</nb-toggle>
              </div>

              <div>
                <nb-toggle formControlName="displayGridLines">Show Gridlines</nb-toggle>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <nb-card>
          <nb-card-header>Left Y Axis settings</nb-card-header>
          <nb-card-body>
            <div formGroupName="yAxisLeft">
              <div class="form-group">
                <label for="label" class="label">Label</label>
                <input type="text" class="input-full-width" nbInput formControlName="label" placeholder="Enter a Left Y Axis label">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-sm-6">
        <nb-card>
          <nb-card-header>Right Y Axis settings</nb-card-header>
          <nb-card-body>
            <div formGroupName="yAxisRight">
              <div class="form-group">
                <label for="label" class="label">Label</label>
                <input type="text" class="input-full-width" nbInput formControlName="label" placeholder="Enter a Right Y Axis label">
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </form>
</div>
