.cell {
  border: 2px solid transparent;
  padding: 11px 20px;
  width: 100%;
  height: 100%;
}

.cell:hover {
  cursor: pointer;
  border: 2px dashed #c8c8c8;
}

.cellInput {
  border: 2px solid transparent;
  padding: 11px 20px;
  width: 100%;
  height: 100%;
}
