<nb-card style="height: 100%; margin-bottom: 0px;">
  <nb-card-header style="padding: 0.5rem 1rem;">
    <div class="d-flex">
      <span class="mr-auto drag-handle">
        <nb-icon icon="move-outline" style="height: 100%;"></nb-icon>
      </span>
      <button nbButton size="small" ghost class="mr-1">
        <nb-icon icon="refresh-outline"></nb-icon>
      </button>
      <span [nbContextMenu]="item.widgetContextMenu" nbContextMenuTag="widget-context-menu">
        <nb-icon icon="more-vertical-outline" style="height: 100%;"> </nb-icon>
      </span>
    </div>

  </nb-card-header>
  <nb-card-body #component style="padding-right: 0px; padding-left: 0px;">

    <app-line-chart-widget #components
                           [lineChartWidget]="item.widgetData"
                           [timePeriod]="selectedTimePeriod">
    </app-line-chart-widget>
  </nb-card-body>
</nb-card>
