<nb-card style="height: 100%; margin-bottom: 0px;">

  <nb-card-header style="padding: 0.2rem 1rem;">
    <div class="d-flex">
      <div class="flex-grow-1 drag-handle">
        <div class="widget-title">{{item.widgetName}}</div>
      </div>
      <button nbButton size="small" ghost class="mr-1" (click)='reloadWidget()'>
        <nb-icon icon="refresh-outline"></nb-icon>
      </button>
      <span [nbContextMenu]="getWidgetContextMenu()" nbContextMenuTag="widget-context-menu">
        <nb-icon icon="more-vertical-outline" style="height: 100%;"></nb-icon>
      </span>
    </div>

  </nb-card-header>
  <nb-card-body style="padding: 10px 0px;">

    <ng-container *ngIf="item.widgetType === 'LineChart'">
      <app-line-chart-widget #widgetElement [widgetData]="item.widgetData" [timePeriod]="selectedTimePeriod"
        [applicationId]="applicationId">
      </app-line-chart-widget>
    </ng-container>

    <ng-container *ngIf="item.widgetType === 'SimpleNumber'">
      <app-simple-number-widget #widgetElement [widgetData]="item.widgetData" [timePeriod]="selectedTimePeriod"
        [applicationId]="applicationId">
      </app-simple-number-widget>
    </ng-container>

  </nb-card-body>
</nb-card>