<!-- <div style="background-color: antiquewhite;" class="grid-stack grid-stack-6"> -->

<div style="display: block; height:400px">
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>



<button style="margin-bottom: 100px; margin-top: 100px;" (click)="addWidget()">Add Widget</button>
<button (click)="showWidgetJson()">Show Json</button>
<p #json></p>

<div #gridstack gridstack style="background-color: antiquewhite;" class="grid-stack grid-stack-6">

  <!--<div #item1 class="myitem"><div class="grid-stack-item-content">Item 1</div></div>-->


  <div grid-item *ngFor="let item of items" [item]="item">
    <div class="myitem">id: {{item.id}}, x: {{item.x}}, y: {{item.y}}, , width: {{item.width}}, height: {{item.height}}</div>
  </div>

</div>
