

<div class="example-container">

  <form [formGroup]="widgetSettingsForm" (ngSubmit)="onSubmit()" [style.fontSize.px]="14">
    <h3>General :</h3>

    <div>
      <!--<mat-checkbox formControlName="displayTitle">Display widget title</mat-checkbox>-->
    </div>

    <!--<mat-form-field appearance="outline">
      <mat-label>Widget name</mat-label>
      <input matInput placeholder="Widget name" formControlName="widgetName" required>
    </mat-form-field>-->

    <hr>

    <div formGroupName="xAxis">
      <h3>X Axis :</h3>

      <!--<mat-form-field appearance="outline">
        <mat-label>Label</mat-label>
        <input matInput placeholder="Enter a X Axis label" formControlName="label" required>
      </mat-form-field>-->

      <label>
        Display Label:
        <label>
          <input type="radio" name="displayLabel" formControlName="displayLabel" [value]="true" />Yes
        </label>
        <label>
          <input type="radio" name="displayLabel" formControlName="displayLabel" [value]="false" />No
        </label>
      </label>
      <br>
      <label>
        Display Gridlines:
        <label>
          <input type="radio" name="displayGridLines" formControlName="displayGridLines" [value]="true" />Yes
        </label>
        <label>
          <input type="radio" name="displayGridLines" formControlName="displayGridLines" [value]="false" />No
        </label>
      </label>
    </div>

    <hr>

    <button type="submit" [disabled]="submitButtonDisabled">Save Settings</button>
    <button type="reset" (click)="resetFormValues()">Reset</button>
  </form>
</div>
