<nb-card>
  <nb-card-header>

    <div class="d-flex">
      <div class="mr-auto">
        <span class="label mr-3">Application: </span>
        <nb-select placeholder="Choose an application..." status="primary" size="small"
          [ngModel]="selectedApplicationId" (ngModelChange)="handleSelectedApplicationChange($event)" name="application"
          [nbSpinner]="appsLoading" nbSpinnerStatus="primary" [disabled]="appsLoading">
          <nb-option *ngFor="let application of applications" [value]="application.id">{{application.name}}</nb-option>
        </nb-select>
      </div>
      <button nbButton status="success" size="small" outline [disabled]="dashboardsLoading" (click)="loadDashboards()">
        <nb-icon icon="refresh-outline"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body [nbSpinner]="dashboardsLoading" nbSpinnerStatus="primary" nbSpinnerSize="large">

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Widgets in Dashboard</th>
          <th>Created Date</th>
          <th>Actions</th>
          <th>Favorite</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngIf="dashboards && dashboards.length == 0">
          <td colspan="5">
            <div class="justify-content-center d-flex">
              <span>There are no Dashboards for the selected Application.</span>
            </div>
          </td>
        </tr>

        <tr *ngFor="let dashboard of dashboards">
          <td>{{dashboard.name}}</td>
          <td>{{dashboard.dashboardWidgetsCount}}</td>
          <td>{{dashboard.createdDate | date}}</td>
          <td>
            <a nbButton nbTooltip="View dashboard" nbTooltipPlacement="top" nbTooltipStatus="info" status="info"
              size="small" [routerLink]="['/dashboard/view', dashboard.id]">
              <nb-icon icon="eye-outline"></nb-icon>
            </a>

            <button nbButton nbTooltip="Delete dashboard" nbTooltipPlacement="top" nbTooltipStatus="warning"
              status="warning" size="small" class="ml-3" (click)="deleteDashboard(dashboard)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>

          <td>
            <button *ngIf="!dashboard.isFavorite" (click)="dashboardFavorite(dashboard)" nbButton ghost>
              <nb-icon icon="star-outline"></nb-icon>
            </button>
            <button *ngIf="dashboard.isFavorite" (click)="dashboardFavorite(dashboard)" nbButton ghost status="warning">
              <nb-icon icon="star"></nb-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>