<div [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">

  <nb-card style="margin-bottom: 10px;">
    <nb-card-header>
      <div class="d-flex">
        <app-daterange-picker class="mr-auto" [selectedDaterange]="selectedDaterange"
          (selectedDaterangeChange)="handleSelectedDaterangeChange($event)">
        </app-daterange-picker>

        <button nbButton outline status="info" size="small" (click)="addWidget()" class="mr-2">
          <nb-icon icon="plus-outline"> </nb-icon>
          Add Widget
        </button>
        <button nbButton outline status="success" [disabled]="!requiresSaving" size="small" (click)="saveDashboard()"
          [nbSpinner]="savingDashboard" nbSpinnerStatus="success">
          <nb-icon icon="save-outline"> </nb-icon>
          Save dashboard
        </button>
      </div>
    </nb-card-header>
  </nb-card>

  <div #gridstack gridstack (changeEvent)="handleGridstackChangeEvent($event)">
    <div grid-item *ngFor="let item of items" [item]="item.gridItem">

      <app-dashboard-item #dashboarditem [item]='item' [selectedTimePeriod]='selectedTimePeriod'
        [applicationId]='dashboard.applicationId'>
      </app-dashboard-item>

    </div>
  </div>

  <div *ngIf="items.length == 0 && !loading" style="max-height: 200rem; height: 20rem;"
    class="d-flex justify-content-center align-items-center">
    <span>
      Wow! Such emptiness, Maybe add some widgets?
    </span>
  </div>
</div>